<div class="container">

  <div class="border border-primary p-5 mt-5 mb-5">
    <p class="text-primary h2">הוספת דיווח</p>
    <hr class="mb-3 text-primary">
      <div class="mb-3">
          <input class="form-control mb-1 {{this.ResponseMessage[0].Isok ?'':'is-invalid'}} "  type="text" [(ngModel)]="ObjectToAddReporting.Cause"
           placeholder="סיבת הדיווח" id="validationServerCause" aria-describedby="validationServerCauseFeedback" required>
          <div id="validationServerCauseFeedback" class="invalid-feedback">
            {{this.ResponseMessage[0].Message}}
          </div>
      </div>

      <div *ngIf="this.IsCreate" class="mt-3 mb-3">
        <small class="text-success">הדיווח נשלח בהצלחה</small>
      </div>

      <div *ngIf="!SpinnerOn" class="mt-2">
        <div><button  class="btn btn-primary" (click)="SpinnerOn=true ; AddReporting()">הוסף</button></div>
      </div>


        <div *ngIf="SpinnerOn" class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
</div>
