.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
   min-height: 500px;
   direction: rtl;
}


hr{
  width: 25%;
  margin-right: 37.5%;
}

 input,input::placeholder
{
  text-align: center;
}
.border
{
  border: solid;
  width: 50%;
  margin-right: 25%;
  border-radius: 12px;
}

/* להמשיך את הנושא לפאלפון */
@media only screen and (max-width: 600px) {
  .p-5
  {
    padding: 5% !important;
  }

  .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 5px;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
     min-height: 500px;
     width: 90%;
     direction: rtl;
  }
}
