<div class="container">

  <div class="border border-primary p-5 mt-5 mb-5">

    <p class="text-primary h2">שכחתי סיסימה</p>
    <hr class="mb-3 text-primary">

    <div class="mb-3">
      <input class="form-control mb-1 {{this.EmailValidationResponse.Isok ?'':'is-invalid'}} "  autocomplete="email" type="email" [(ngModel)]="EmailForForgotPassword"
       placeholder="מייל" id="validationServerEmail" aria-describedby="validationServerEmailFeedback" required>
      <div id="validationServerEmailFeedback" class="invalid-feedback">
        {{this.EmailValidationResponse.Message}}
      </div>
  </div>

  <div *ngIf="!SpinnerOn">
    <div><button  class="btn btn-primary" (click)="SpinnerOn=true ;ShowMesage=false; ClickOk()">אישור</button></div>
  </div>

  <div *ngIf="SpinnerOn" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div *ngIf="this.ShowMesage">
    <p class="text-primary">במידה והמייל קיים במערכת תישלח אליך סיסמה חדשה</p>
  </div>


</div>
